.btn-primary {
    background-color: #572096; 
    border: none;
    color: white;
    padding: 5px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; 
  }
  
  .btn-primary:hover {
    background-color: #451a77; 
  }
  
  .btn-primary a {
    text-decoration: none;
    color: white; 
}

.montserrat-button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }